<div class = "header">
<%= render partial: 'layouts/header' %>
</div>
  	
<center>

	
<div id = "section1">
	<h3 align = right style="margin: 30px;">PROFILE</h3>
</div>

<div id = "section2">
	<h3 align = right style="margin: 30px;">SKILLS</h3>
</div>

<div id = "section3">
	<h3 align = right style="margin: 30px;">WORKS</h3>
</div>

<div id = "section4">
	<h3 align = right style="margin: 30px;">SEMINARS</h3>
</div>

<div id = "section5">
	<h3 align = right style="margin: 30px;">ACHIEVEMENTS</h3>
</div>

<div id = "section6">
	<h3 align = right style="margin: 30px;">CONTACT</h3>
</div>

<div id = "footer">
	<p>copyrught 2014</p>
</div>
</center>