		
        <div class="container">
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<br>
						<p>Add me on</p>
						<div class="ch-item ch-img-13">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-13"></div>
									<div class="ch-info-back">
										<p><b>fb.com/che.balane</b></p>
									</div>	
								</div>
							</div>
						</div>
						<br/>
						<p>Facebook</p>
					</li>

					<li>
						<br>
						<p>Follow Me on</p>
						<div class="ch-item ch-img-14">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-14"></div>
									<div class="ch-info-back">
										<p><b>github.com/iamcheche</b></p>
									</div>
								</div>
							</div>
						</div>
						<br/>
						<p>Github</p>
					</li>

					<li>
						<br>
						<p>Send me an email on</p>
						<div class="ch-item ch-img-15">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-15"></div>
									<div class="ch-info-back">
										<p><b>chebalane@gmail.com</b></p>
									</div>
								</div>
							</div>
						</div>
						<br/>
						<p>GMail</p>
					</li>

					<li>
						<div class="ch-item ch-img-16">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-16"></div>
									<div class="ch-info-back">
										<p><b>iamchebalane</b></p>
										
									</div>
								</div>
							</div>
						</div>
						<br/>
						<p>Skype</p>
					</li>

					<li>
						<br>
						<p>Follow Me on</p>
						<div class="ch-item ch-img-17">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-17"></div>
									<div class="ch-info-back">
										<p><b>@che_balane</b></p>
										
									</div>
								</div>
							</div>
						</div>
						<br/>
						<p>Twitter</p>
					</li>

					<li>
						<br>
						<p>Follow Me on</p>
						<div class="ch-item ch-img-17">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-17"></div>
									<div class="ch-info-back">
										<p><b>chebalane.wordpress.com</b></p>
										
									</div>
								</div>
							</div>
						</div>
						<br/>
						<p>Wordpress Blogsite</p>
					</li>

				</ul>
				
			</section>
        </div>
