    <div>

        <ul id="menu">
            
            <li><a href="#">Contact</a></li>
            <li><a href="#">Achievements</a></li>
            <li><a href = "#">Seminars</a></li>
            <li><a href="#">Works</a></li>
            <li><a href = "#">Skills</a></li>
            <li><a href = "#">profile</a></li>            
            
        </ul>
    </div>
  

    <div id = "left">
        
        <div id = "image">
            <p align = left ><%= image_tag("ako.png", :alt => "ako") %></p>
        </div>
                <p style="font-size: 20px;"><b><em>iamcheche</em></b></p>  
    </div>