<div class="container">
				
			<section class="main">
			
				<ul class="ch-grid">

					<li>
						<div class="ch-item">				
							<div class="ch-info">
								<div class="ch-info-front ch-img-1"></div>
								<div class="ch-info-back">
									<h3>a little bit</h3>
								</div>
							</div>
						</div>
						<br/>
						<p> AJAX</p>
					</li>

					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-2"></div>
								<div class="ch-info-back">
									<h3>You</h3>
								</div>
							</div>
						</div>
						<br/>
						<p> Android Development</p>
					</li>
					
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-3"></div>
								<div class="ch-info-back">
									<h3>Love</h3>
								</div>
							</div>
						</div>
						<br/>
						<p>Javascript</p>
					</li>

					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-4"></div>
								<div class="ch-info-back">
									<h3>Love</h3>
								</div>
							</div>
						</div>
						<br/>
						<p>Oracle iSQL*PLus</p>
					</li>

					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-5"></div>
								<div class="ch-info-back">
									<h3>Love</h3>
								</div>
							</div>
						</div>
						<br/>
						<p>PHP</p>
					</li>

					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-6"></div>
								<div class="ch-info-back">
									<h3>Love</h3>
								</div>
							</div>
						</div>
						<br/>
						<p>PostgreSQL</p>
					</li>

					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-7"></div>
								<div class="ch-info-back">
									<h3>Love</h3>
								</div>
							</div>
						</div>
						<br/>
						<p>Python</p>
					</li>

					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-8"></div>
								<div class="ch-info-back">
									<h3>Love</h3>
								</div>
							</div>
						</div>
						<br/>
						<p>Ruby On Rails</p>
					</li>

					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-9"></div>
								<div class="ch-info-back">
									<h3>Love</h3>
								</div>
							</div>
						</div>
						<br/>
						<p>Ruby</p>
					</li>

					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-10"></div>
								<div class="ch-info-back">
									<h3>Love</h3>
								</div>
							</div>
						</div>
						<br/>
						<p>SQLite Database</p>
					</li>

					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-11"></div>
								<div class="ch-info-back">
									<h3>Love</h3>
								</div>
							</div>
						</div>
						<br/>
						<p>Visual Basic 6.0</p>
					</li>

					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-12"></div>
								<div class="ch-info-back">
									<h3>Love</h3>
								</div>
							</div>
						</div>
						<br/>
						<p>Visual Basic .Net</p>
					</li>
				</ul>
				
			</section>
        </div>